body {
  font-family: sans-serif;
  text-align: center;
  background: #1e1e2f;
  color: white;
}
#game-container {
  position: relative;
  height: 400px;
  border: 2px solid white;
  margin: 20px auto;
  overflow: hidden;
  width: 300px;
  background: #292b3a;
}
.word {
  position: absolute;
  font-size: 18px;
  color: yellow;
}
#typing-input {
  padding: 10px;
  font-size: 16px;
}
